<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Bharathi's Homepage</title>
    <link rel="icon" href="pho.png">


    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://github.com/bharathit-math/Home/blob/65c08ee85db258aefc7bda1d044658c7998d5ceb/styles.css" class="stylesheet">
</head> 



    <!-------------------------- Header Area -------------------------->
    <header class="header-area">
           <ul class="navbar">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About Me</a></li>
                    <li><a href="teaching">Teaching</a></li>
                    <li><a href="research">Research</a></li>
                    <li><a href="event">Events</a></li>
                </ul>
    </header>
